.app-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.word-input-form {
  display: flex;
  gap: 10px;
}

.letter-box {
  font-size: 32px;
  padding: 10px;
  width: 60px;
  margin: 0;
  text-align: center;
  border: 2px solid #000;
  border-radius: 4px;
}

.submit-button {
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
  border: none;
  background-color: #007bff;
  color: white;
  border-radius: 4px;
  margin-top: 20px;
}

.submit-button:hover {
  background-color: #0056b3;
}

.intro-text {
  margin: 0 auto 20px;
  width: 80%;
  text-align: center;
  font-size: 18px;
  line-height: 1.6;
  color: #333;
}

h1 {
  text-align: center;
  color: #333;
  margin-bottom: 10px;
}

.error-message {
  color: #FF0000;
  margin-top: 10px;
}

@keyframes shake {
  0% {
    transform: translateX(0px);
  }
  25% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(5px);
  }
  75% {
    transform: translateX(-5px);
  }
  100% {
    transform: translateX(5px);
  }
}

.shake-animation {
  animation: shake 0.5s;
  border-color: red !important;
  outline: none;
}
